@font-face { font-family: Pokemon; src: url("../font/Pokemon.ttf");}

html, body { height: 100%; margin: 0px;}
body { background-image: url("../img/pokemon_bg.jpg"); background-size: auto 100%; background-position: 50% 50%;}
h1, h2, h3, h4, h5, h6 { margin: 0px; font-weight: normal;}
p { margin: 0px;}
input { border: none; background: transparent; outline: none;}
input::-moz-focus-inner {
  border: 0;
}

